.cover__link {
    width: calc(100% - 96px);
	margin: 0px auto 92px auto;
    
    text-decoration: none;
}

.cover__link:hover {
    cursor: url('../../../images/Imported Layers Copy 4.svg'), pointer;
}

@media (min-width: 426px) and (max-width: 768px) {
    .cover__link {margin: 0px auto 88px auto;}
}

@media (max-width: 425px) {
    .cover__link {width: 100%;
                margin: 0px auto 64px auto;}
}