@import url('./__place/places__place.css');

@import url('./__title/places__title.css');

@import url('./__img/places__img.css');

@import url('./__website/places__website.css');

@import url('./__url/places__url.css');

@import url('./__link/places__link.css');

@import url('./__parag/places__parag.css');

@import url('./__parags/places__parags.css');

.places {
    width: calc(100% - 296px);
    margin: 0px auto 12px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .places {width: calc(100% - 96px);}
}

@media (min-width: 426px) and (max-width: 768px) {
    .places {width: calc(100% - 48px);}
}

@media (max-width: 425px) {
    .places {width: 100%;}
}