.places__img {
	margin: 0px;
	width: 100%;
	max-width: 460px;
	object-fit: cover;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .places__img {max-width: 440px;}
}

@media (min-width: 426px) and (max-width: 768px) {
    .places__img {max-width: 340px;}
}

@media (max-width: 425px) {
    .places__img {max-width: 320px;}
}