@import url('./__img/cover__img.css');

@import url('./__caption/cover__caption.css');

@import url('./__title/cover__title.css');

@import url('./__text/cover__text.css');

@import url('./__link/cover__link.css');

@import url('./__grid/cover__grid.css');

.cover {

    width: calc(100% - 96px);
	margin: 0px auto 92px auto;

}

@media (max-width: 1024px) {
    .cover {width: 100%;}
}

@media (min-width: 426px) and (max-width: 768px) {
    .cover {width: 100%;
            margin: 0px auto 88px auto;}
}

@media (max-width: 425px) {
    .cover {width: 100%;
            margin: 0px auto 64px auto;}
}