.places__place {
    width: 100%;
    margin: 0px 0px 80px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
    grid-gap: 48px 40px;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .places__place {
        margin: 0px 0px 84px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        justify-items: center;
        grid-gap: 48px 32px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .places__place {
        margin: 0px 0px 72px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        justify-items: center;
        grid-gap: 48px 28px;
    }
}

@media (max-width: 425px) {
    .places__place {
        margin: 0px 0px 48px 0px;
        display: grid;
        grid-template-columns: minmax(320px, 1fr);
        justify-items: center;
        grid-row-gap: 48px;
    }
}