@import url('./__item/grid__item.css');

.grid {
    width: calc(100% - 96px);
    margin: 0px auto 92px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
}

@media (min-width: 769px) and (max-width: 1025px) {
    .grid {
            grid-gap: 14px;}
}

@media (min-width: 426px) and (max-width: 768px) {
    .grid {width: calc(100% - 48px);
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 16px;}
}

@media (max-width: 425px) {
    .grid {width: calc(100% - 16px);
            grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
            grid-gap: 12px;}
}