.intro__title {
	max-width: 690px;
	font-family: 'interBlack','Arial', sans-serif;
	font-weight: normal;
	color: white;
	font-size: 54px;
	line-height: 1.07;
	margin: 0px 0px 40px 0px;
}

@media (max-width: 425px) {
    .intro__title {font-size: 32px;}
}